html,
body {
        font-family: Arial, sans-serif;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
      }

      .container {
        height: 100%;
        width: 100%;
      }

      #map {
        width: 100%;
        height: 100%;
        z-index: 0;

      }

      input {
        font-size: 12px;
      }

      h1 {
        color: #525454;
        font-size: 22px;
        margin: 10px 0 10px 0;
        text-align: center;
      }

      .options-box{
        background: #fff;
        border: 3px solid #999;
        border-radius: 5px;
        line-height: 30px;
        color: white;
        height: 85%;
        width: 20%;
        margin: 10px 5px;
        padding: 0 8px;
        position: fixed;
        z-index: 1;
        margin: 55px;
        opacity: .75;
        overflow: scroll;
      }

      /*.options-box {
        background: #fff;
        border: 3px solid #999;
        border-radius: 5px;
        line-height: 35px;
        padding: 10px 10px 30px 10px;
        text-align: left;
        position: fixed;
        z-index: 1;
        margin: 55px;
        opacity: .75;
      }*/

      form {
        text-align: center;
      }

      h3 {
        margin: 0;
        color: #525454;
      }

      ul {
        list-style-type: none;
        color: #525454;
        font-weight: bold;
      }
      ul li {
        flex-grow: 1;
      }

      #pano {
        width: 200px;
        height: 200px;
      }

      #search-within-time-text {
        width: 85%;
      }

      #zoom-to-area-text {
        position: relative;
        width: 70%;
      }

      #zoom-to-area {
        width: 25%;
      }

/****Media Queries***/

@media screen and (max-width: 500px) {
    .options-box {
        height: 250px;
        width: 200px;
        line-height: 15px;
        font-size: 10px;
        margin: 90% 10px 10px;
    }

    h1 {
        font-size: 18px;
    }
}
